/* HTML elements */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
p {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 1.3em;
    line-height: 1.7em;
    padding-left: 2em;
    padding-right: 2em;
}

/* Spacing */
.footer-note {
    max-width: 960px;
}

/* Transition */
.smooth, #smooth, .backtotop, .bottom>li>a, .navbar-brand, .active:hover, .nav-item, .main a, .arrow {
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}

/* NavLink (tabs) */
.nav-link {
    font-size: 1.1em;
}
.nav-link:hover {
    color: #fff!important;
}
.navbar-brand:hover, .active:hover {
    color: rgba(255,255,255,.65)!important;
}
.navbar-toggler {
    border-color: rgba(255,255,255,.5)!important;
}

/* Banner Img */
.banner {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background.jpg");
    margin-top: 56px;
    margin-bottom: 50px;
}
#banner-txt {
    height: 25vh !important;
}
.banner-image {
    content: url("../img/top_banner.svg");
    height: 25vh !important;
}

@media only screen and (max-width: 600px) {
    .banner-image {
        content: url("../img/top_banner_mobile.svg");
    }
}

/* Main */
.main {
    display: block;
    margin: 0 auto;
    max-width: 960px;
}
.main a:hover {
    text-decoration: none !important;
    color: rgb(40, 197, 176) !important;
}
.main-title {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 30px;
    font-size: 3.2em;
}
/* -> Blocks */
.block {
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center center;
}
.blue {
    background-color: rgb(102, 160, 255);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 1);
}
.top {
    background-image: url(../img/cover.jpg);
}
.centering {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100vw;
    bottom: 25px;
}
.code-title {
    color: aliceblue;
    text-align: center;
    font-size: 85px;
    font-weight: 200;
    padding-top: 31.5vh;
}

@media only screen and (max-width: 650px) {
    .code-title {
        font-size: 3.4em;
    }
}
.arrow {
    background: url(../img/arrow.svg);
    z-index: 10;
    display: block;
    object-fit: cover;
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
}

.arrow:hover {
    filter: brightness(20%);
}
/* End of Blocks subsection */
.quote {
    margin: 0 auto;
    max-width: 960px;
}
.main_h {
    color: rgb(22, 112, 255);
    opacity: .7;
    text-align: center;
    padding-top: 10vh;
}

/* Footer */
.footer {
    background-color: #181818;
    width: 100%;
    height: 210px;
    margin-top: 175px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.footer-top {
    position: relative;
    max-width: 960px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.footer-note {
    position: relative;
    font-size: 1.2em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.backtotop {
    float: right;
    padding-right: 2px;
    color: #fff;
}

.divider {
    border: 0;
    border-top: 1px solid #383838
}

.footer-bottom {
    background: #141414;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 15px;
}

.bottom {
    position: relative;
    list-style: none;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 1vw 0;
}
.bottom > li {
    display: inline-block;
    padding-left: 2em;
}
.bottom > li:first-child {
    padding-left: 0em;
}
.bottom > li > a {
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
}

.footer a:hover {
    text-decoration: none !important;
}

.bottom>li>a:hover,
.backtotop:hover {
    color: rgba(145, 145, 145, 0.85);
}
/* end Footer */
